Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

Create a list to store these monthly expenses and using that find out,

In [1]:
expenses = [2200, 2350, 2600, 2130, 2190]

In [2]:
# 1. In Feb, how many dollars you spent extra compare to January?
expenses[1] - expenses[0]

150

In [3]:
# 2. Find out your total expense in first quarter (first three months) of the year.
expenses[0]+expenses[1]+expenses[2]

7150

In [10]:
# 3. Find out if you spent exactly 2000 dollars in any month
for i in expenses:
    if i==2000:
        print(i)

In [11]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expenses.append(1980)

In [12]:
expenses

[2200, 2350, 2600, 2130, 2190, 1980]

In [13]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

expenses[3] = expenses[3]+200
expenses

[2200, 2350, 2600, 2330, 2190, 1980]

In [18]:
heros=['spider man','thor','hulk','iron man','captain america']

In [19]:
len(heros)

5

In [20]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [21]:
heros.pop()
heros.insert(2, 'black panther')
heros

['spider man', 'thor', 'black panther', 'hulk', 'iron man', 'captain america']

In [22]:
# remove thor and hulk from list and replace them with doctor strange
heros[1:3] = ['doctor strange']
heros

['spider man', 'doctor strange', 'hulk', 'iron man', 'captain america']

In [23]:
heros.sort()
heros

['captain america', 'doctor strange', 'hulk', 'iron man', 'spider man']

In [25]:
# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a 
# user using input() function

_max = int(input("Enter Max Number: "))
out = []
for i in range(1, _max):
    if i%2 != 0:
        out.append(i)
print(out)

Enter Max Number: 30
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]